@import '../../styles/color.scss';
@import '../../styles/size.scss';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lobster&display=swap');

// card color
.card__background {background-color:$main-blue;}
.card__title {color:white;}
.card__navi {color:white;}

.container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Do Hyeon', sans-serif;
}

.title {
  margin-bottom: 1rem;
  font-size: $font-large;
  font-weight: 500;
  text-decoration: $main-blue underline;
}

.description {
  margin-bottom: 8px;
  font-size: $font-medium;
  font-weight: 100;
  line-height: $font-medium+0.6rem;
}

.bullet {
  padding-left: 1.3rem;
  position: relative;
}

.bullet:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '•';
}
