@import '../../styles/color.scss';
@import '../../styles/size.scss';

// card color
.card__background {background-color:$main-light-yellow;}
.card__title {color:white;}
.card__navi {color:white;}

.container {
  padding: 3rem 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Gothic', sans-serif;
  .title {
    font-size: $font-regular;
    line-height: $font-regular+0.5rem;
    margin-bottom: 2rem;
  }
  .subTitle {
    font-size: $font-regular;
    text-align: center;
    line-height: $font-regular+0.5rem;
  }
  .email {
    margin-top: 1rem;
    font-size: $font-regular;
    text-decoration: none;
    text-align: center;
    color: gray;
  }
  .links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    .icon {
      font-size: 2rem;
      color: black;
      margin: 0.5rem;
    }
  }
}

.resumeDescription {
  margin-top: 1rem;
  text-align: center;
  text-decoration: none !important;
}

.aboutResume {
  color: $main-blue;
  font-size: $font-regular;
  text-align: center;
}

.reserved {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  color: gray;
}

@media screen and (max-width: 780px) {
  .reserved {
    right: 1rem;
    bottom: 1rem;
  }
}
