$main-blue: #5872a6;
$main-light-blue: #7787a6;
$main-dark-blue: #364959;
$main-light-yellow: #d9b79a;
$main-black: #292929;

:export {
  mainBlue: $main-blue;
  mainLightBlue: $main-light-blue;
  mainDarkBlue: $main-dark-blue;
  mainLightYellow: $main-light-yellow;
  mainBlack: $main-black;
}