@import '../../styles/size.scss';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.container {
  display: flex;
  height: 100%;
}
.section {
  position: relative;
  width: 100vw;
}
section:after {
  content: "";
  display: block;
  clear: both;
}
.left {
  padding: 2rem;
  width: 50%;
  display: flex;
  float: left;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 90%;
    font-size: $font-extra_large;
    font-family: 'Lobster', cursive;
  }
  .navi {
    flex: 1 1 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-regular;
    font-family: 'Nanum Gothic', sans-serif;
  }
}
.right {
  width: 50%;
  min-height: 100vh;
  float: right;
  box-sizing: content-box;
}

.posAbs {
  position: absolute;
  width: 50vw;
  bottom: 0;
}

.posFix {
  position: fixed;
  width: 50vw;
  top: 0;
}

@media screen and (max-width: 780px) {
  .container {
    flex-direction: column;
  }
  .left {
    width: 100vw;
  }
  .right {
    width: 100vw;
  }
}
